".vs/" 
.vs/ChessGame/FileContentIndex/4474db33-8571-42c4-b310-678009ec5835.vsidx
.vs/ChessGame/FileContentIndex/d2e64716-6984-4104-bc53-85bfdfc4e5e4.vsidx
.vs/ChessGame/FileContentIndex/e0b5b12c-74e1-4937-9cbc-917c1338fd93.vsidx
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.AssemblyInfo.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.AssemblyInfoInputs.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.assets.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.csproj.BuildWithSkipAnalyzers
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.GlobalUsings.g.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.sourcelink.json
ChessUI/obj/Debug/net8.0-windows/ChessUI_ilcbai3k_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.AssemblyInfo.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.AssemblyInfoInputs.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.assets.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.csproj.BuildWithSkipAnalyzers
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.GlobalUsings.g.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.AssemblyInfo.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.assets.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.AssemblyInfoInputs.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.csproj.BuildWithSkipAnalyzers
ChessUI/obj/Debug/net8.0-windows/ChessUI_k42j0rkb_wpftmp.sourcelink.json
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.GlobalUsings.g.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.csproj.BuildWithSkipAnalyzers
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.assets.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.AssemblyInfo.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_kefxl21q_wpftmp.sourcelink.json
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.AssemblyInfoInputs.cache
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.GeneratedMSBuildEditorConfig.editorconfig
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.GlobalUsings.g.cs
ChessUI/obj/Debug/net8.0-windows/ChessUI_ndlk55ho_wpftmp.sourcelink.json
